In [43]:
import numpy as np
import pandas as pd

surface_temp = pd.read_csv("/Users/yiyangshi/Desktop/SI 618/Surface_Temp/GlobalLandTemperaturesByCity.csv")
global_car_sale = pd.read_csv("/Users/yiyangshi/Desktop/SI 618/SI_618_Final_Project/car_sales_global/global_car_sale.csv")

In [8]:
global_car_sale['Dealer_Region'].unique()

array(['Middletown', 'Aurora', 'Greenville', 'Pasco', 'Janesville',
       'Scottsdale', 'Austin'], dtype=object)

In [44]:
from census import Census
from us import states

c = Census("62c6704b10bcb447c467e027fe446144c20d7ccb")

# B01001_001E represents the total population
# B19013_001E: median income
# B25077_001E: median house value
# B02001_002E: # of white 
# B02001_003E: # Black/African American
# B02001_004E: American Indian, Alaska Native
# B02001_005E: Asian
# B02001_006E: Native Hawaiian, other Pacific Islanders
# B02001_007E: Some other race alone
variables = ('B01001_001E','B19013_001E','B25077_001E',
             'B02001_002E','B02001_003E','B02001_004E',
             'B02001_005E','B02001_006E','B02001_007E')  

# Retrieve data for Illinois
CT_data = pd.DataFrame(c.acs5.state_county(variables, states.CT.fips, '*'))
CO_data = pd.DataFrame(c.acs5.state_county(variables, states.CO.fips, '*'))
SC_data = pd.DataFrame(c.acs5.state_county(variables, states.SC.fips, '*'))
WA_data = pd.DataFrame(c.acs5.state_county(variables, states.WA.fips, '*'))
WI_data = pd.DataFrame(c.acs5.state_county(variables, states.WI.fips, '*'))
AZ_data = pd.DataFrame(c.acs5.state_county(variables, states.AZ.fips, '*'))
TX_data = pd.DataFrame(c.acs5.state_county(variables, states.TX.fips, '*'))

In [45]:
states_census = pd.concat([CT_data, CO_data, SC_data, WA_data, WI_data, AZ_data, TX_data], axis=0)

In [46]:
WI_data

,B01001_001E,B19013_001E,B25077_001E,B02001_002E,B02001_003E,B02001_004E,B02001_005E,B02001_006E,B02001_007E,state,county
0,20505.0,51878.0,150000.0,18729.0,516.0,166.0,153.0,3.0,276.0,55,001
1,16002.0,55070.0,120700.0,13349.0,152.0,1699.0,108.0,3.0,56.0,55,003
2,46529.0,55256.0,163400.0,43404.0,822.0,334.0,313.0,0.0,732.0,55,005
3,16031.0,62859.0,187000.0,13624.0,194.0,1445.0,76.0,0.0,64.0,55,007
4,267364.0,68799.0,193500.0,220685.0,7076.0,5546.0,8666.0,57.0,9460.0,55,009
...,...,...,...,...,...,...,...,...,...,...,...
67,405332.0,94310.0,306300.0,364396.0,6464.0,796.0,15328.0,101.0,3751.0,55,133
68,51769.0,65070.0,159600.0,49150.0,385.0,166.0,255.0,12.0,667.0,55,135
69,24527.0,57224.0,157300.0,22350.0,460.0,184.0,97.0,0.0,838.0,55,137
70,171304.0,63938.0,167400.0,153873.0,4460.0,650.0,5100.0,175.0,1726.0,55,139
71,74107.0,57996.0,137300.0,68900.0,513.0,360.0,1558.0,5.0,781.0,55,141

In [47]:
states_census = states_census.rename(columns={
    'B01001_001E' : 'population',
    'B19013_001E' : 'median_income',
    'B25077_001E' : 'median_house_val',
    'B02001_002E' : 'num_of_white',
    'B02001_003E' : 'num_of_black',
    'B02001_004E' : 'num_of_indigenous',
    'B02001_005E' : 'num_of_asian',
    'B02001_006E' : 'num_of_islanders',
    'B02001_007E' : 'num_of_others'
})

state_names = {'09' : 'CT', '08':'CO', '45':'SC', 
               '53':'WA', '55':'WI', '04':'AZ', '48':'TX'}

states_census['state'] = states_census['state'].map(state_names)

In [48]:
states_census

,population,median_income,median_house_val,num_of_white,num_of_black,num_of_indigenous,num_of_asian,num_of_islanders,num_of_others,state,county
0,956446.0,101194.0,443100.0,650345.0,109668.0,2175.0,52143.0,540.0,77453.0,CT,001
1,898636.0,80320.0,249000.0,599498.0,124499.0,2483.0,51021.0,335.0,58696.0,CT,003
2,185175.0,84797.0,270000.0,167417.0,3296.0,189.0,3526.0,0.0,3185.0,CT,005
3,164568.0,90833.0,298300.0,140541.0,8912.0,421.0,5377.0,15.0,1933.0,CT,007
4,864751.0,75043.0,259400.0,597439.0,119484.0,1526.0,35318.0,330.0,57149.0,CT,009
...,...,...,...,...,...,...,...,...,...,...,...
249,44615.0,58418.0,153900.0,38626.0,2100.0,106.0,269.0,21.0,1120.0,TX,499
250,7707.0,73102.0,155000.0,5727.0,103.0,70.0,49.0,0.0,717.0,TX,501
251,17894.0,52074.0,135500.0,16391.0,224.0,107.0,35.0,0.0,482.0,TX,503
252,13945.0,34406.0,82800.0,9543.0,0.0,0.0,189.0,0.0,893.0,TX,505
253,9900.0,44573.0,63300.0,7396.0,44.0,0.0,34.0,0.0,391.0,TX,507

In [49]:
states_census.to_csv('/Users/yiyangshi/Desktop/SI 618/SI_618_Final_Project/states_census.csv', index=False)